<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="widrh-device-width, initial-scale=1.0" />
  <title>Ismail Blog | <%= tajuk %></title>
  <link rel="stylesheet" href="/style.css" />
</head>
